@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family:'Josefin Sans', sans-serif ;
}

.new-arrivals, .popular, .choice , .checkout{
    margin: 200px 190px;
}

.group{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:30px;
    justify-content: center;
    margin: 50px 0;
}

.new .img-box{
    height: 488px;
    width: 360px;
}

.new img{
    width: 100%;
    height: 100%;
}

h2{
    font-weight: 700px;
    font-size: 48px;
}

h3{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 25px 0 12px 0;
}

h4{
    color:#777777;
    font-family:roboto, sans-serif;
    text-align:center;
    line-height: 30px;
    font-weight: lighter;
}

h5{
    color: #ff2020;
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
}

h6{
    color:#ffffff;
    font-family:roboto, sans-serif;
    font-size:20px;
    font-weight:700;
    line-height:24px;
    text-align:left;
    margin-bottom: 20px;
}

.img-grid{
    height: 82vh;
    width: 93vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-gap: 30px;
}

.gallery-box{
    overflow: hidden;
    /* z-index: 100; */
}

.overlay{
    position: relative;
    /* top: 0; */
    background-color: black;
    /* opacity: 0; */
    width: 100%;
    height: 100%;
}

.gallery-box:hover .overlay{
    opacity: 0.5;
}



.gallery-box img:hover{
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(0.97); 
    transition-duration: 1s;
}

.img1{
    grid-area: 1 / 1 /span 2/span 2;
}

.img2{
    grid-area: 1/ 3/span 2 /span 1;
}
.img3{
    grid-area: 1/ 4/span 1/span 1;
}

.img4{
    grid-area: 2 / 4 / span 1/span 1 ;
}

.product-box{
    height: 379px;
    width: 360px;
    overflow: hidden;
    border-bottom: 3px solid #ff2020;
}

.product{
    margin: 20px 0;
}

.popular h2{
    text-align: center;
    margin-bottom: 20px;
}

a{
    font-size: 16px;
    text-decoration: none;
    background-color:#ff2020;
    color:#ffffff;
    display:inline-block;
    font-family:"josefin sans", sans-serif;
    font-weight:600;
    letter-spacing:0.48px;
    text-align:center;
    text-transform:uppercase;
    padding: 30px 28px;
}

.choice{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap:30px;
}

.choice .choice-txt h4, .checkout h4{
    text-align: left !important;
}

.choice-txt a{
    margin: 50px 0;
}

.checkout{
    background-color: #ff2020;
    color: #ffffff;
    height: 243px;
    padding: 20px 30px;
    text-align: left !important;
}

.checkout h4{
    color: #d3d1d1;
}

.checkout i{
    font-size: 40px;
    margin-bottom: 20px;
}